
<h1>[photogur]</h1>

<%= link_to "upload", "/pictures/new" %>


<ul>
<% @newest_first.each do |picture| %>
		<li><%= picture.title %></li>
		<%= link_to image_tag(picture.url), "/pictures/#{picture.id}" %>
	<% end %>
</ul>


<footer>
<p>[photogur], created by morris web dev inc., 2013</p>
</footer>

